*{	
	margin: 0;
	padding :0;
	border: 0;
}

body{ 
		overflow-x: hidden;
		background-color: #EEEEEE;
}

.header{width: 100%;
		height: 60px;
		min-width: 1366px;
		top: 0px;
		left: 0px;
		background-color: #FAFAFA;
		position: fixed;
		z-index: 99;
}
.header .one{ 
		padding-left: 60px;
		margin-top: 10px;
		font-size: 34px;
		font-weight: bold;
		line-height: 40px;
		font-family: arial;
		display: inline-block;
}
#headerMonth{ 
		display: inline-block;
		font-size: 22px;
		margin-left: 24px;
		line-height: 30px;
		font-weight: bold;
}
.container{ 
		width: 1200px;
		margin: 60px auto 0;
		background-color: #EEEEEE;

}
.container .item{ 
		width: 360px;
		height: 270px;
		margin: 40px 16px;
		display: inline-block;
		background-color: #FAFAFA;
		position: relative;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		box-shadow: 5px 5px 5px grey;
		border-radius: 5px;
}

.container .item .inner{ 
		width: 320px;
		height: 230px;
		position: absolute;
		background-color: #FAFAFA;
		padding: 20px;
		display: none;
		opacity: .9;
		font-size: 18px;
		line-height: 20px;
		border-radius: 5px;
}

.container .item .author{
		width: 100%;
		line-height: 20px;
		font-size: 18px;
		position: absolute;
		bottom: -24px;
		padding-top: 20px;
		background-color: transparent;
}
.slide-menu-left{ 
		position: fixed;
		top: 60px;
		left: 0px;
		height: 600px;
		width: 40px;
		opacity: .5;
		background: no-repeat url(icons/menu_48px.svg)  ;
		background-size: 48px 48px;
		perspective: 500px;
		perspective-origin: center center;
		transform-style: preserve-3d;
		transform-origin: left center;
		transform: rotateY(45deg);
		transition: all .3s ease-out;
		font-size: 30px;
		line-height: 40px;
}
.slide-menu-left:hover{ 
		background-color: white;
		transform: rotateY(0deg);
		opacity: 1;
		padding-left: 70px;
		width: 0px;
}
.slide-menu-left .pages{ 
		margin-top: 60px;
		list-style-type: none;
		margin-left: -40px;
 }
.slide-menu-left .pages .page{ 
 		text-decoration: none;
 		color: black;
 		line-height: 45px;
 }
.slide-menu-left .pages .page:hover{ 
 		color: blue;
 }
.popUp{ 
 		width: 1000px;
 		height: 600px;
 		position: fixed;
 		top: 20px;
 		left: 180px;
 		z-index: 999999;
 		background-color: #FAFAFA;
 		display: none;
 		overflow: hidden;
 		border-radius: 8px;
 }
#popUpClose{ 
		position: absolute;
		height:36px;
		width: 36px;
		right: 5px;
		top: 5px;
		font-size: 40px;
		background: url(icons/close_36px.svg) no-repeat;
		opacity: .4;
		cursor: pointer;
}
#popUpClose:hover{ 
		opacity: 1;
}
.popUp .popUpContent{ 
 		width: 800px;
 		height: 580px;
 		position: absolute;
 		top: 10px;
 		left: 10px;
 		background: url(background/popUpContent.jpg) repeat;
 		perspective: 1500px;
 		perspective-origin: 50% 50%;
 		transform-origin: 50% 50% ;
 		overflow: hidden;
 }
.popUp .popUpContent #stage{ 
		width: 100%;
  		height: 100%;
  		background-color: #FAFAFA; 	
  		transform-style: preserve-3d;
  		transition: all .6s ease-out;
  		position: relative;
}
.popUp .popUpContent>div>div{ 
  		width: 100%;
  		height: 100%;
  		top: 0px;
  		left: 0px;
  		background-color: #FAFAFA;
  		color: black;
  		font-family: arial;
  		font-size: 20px;
  		transform-style: preserve-3d;
  		position: absolute;
  		overflow-y: auto;
		overflow-x: hidden;
 }
#popUpHp{ 
		margin-right: -40px;
		padding-right: 40px;		
}
#popUpHp>div:nth-child(1){ 
		width: 90%;
		height: 70%;
		margin: 30px auto 20px;
		background:center center no-repeat;
		border-radius: 3px;
		background-size: cover;
}
#popUpHp>div:nth-child(2){ 
		width: 90%;
		height: 30%;
		font-weight: bold;
		font-family: arial;
		font-size: 20px;
		line-height: 30px;
		text-indent: 40px;
		margin: auto;
}
#popUpEssay{
		padding-right: 30px;
		margin-right: -30px;
		transform:translateX(800px);
}
#popUpEssay .title{ 
		line-height: 40px;
		font-size: 30px;
		font-weight: bold;
}
#popUpEssay .guidewords{ 
		font-size: 20px;
		line-height: 25px;
		padding-left: 30px;
		font-weight: lighter;
}
#popUpEssay .author{ 
		margin-top: 20px;
		overflow: hidden;
}
#popUpEssay .author .authorImg{ 
		width: 100px;
		height: 100px;
		background-size: contain;
		background-repeat: no-repeat;
		border-radius: 50px;
		float: left;
}
#popUpEssay .author .authorName{ 
		font-size: 25px;
		line-height: 50px;
		font-weight: bold;
		margin-left: 150px;
}
#popUpEssay .author .authorDesc{ 
		font-size: 20px;
		line-height: 30px;
		margin-left: 150px;
}
#popUpEssay .content{ 
		width: 760px;
		font-size: 18px;
		line-height: 25px;
		font-weight: bold;
		padding: 0 30px 10px 20px;
		background-color: #FAFAFA;
		margin-top: 20px;
		margin-right: 40px;
}
#popUpQuestion{
		transform:translateX(1600px);
		padding-right: 30px;
		margin-right: -30px;
}
#popUpQuestion .title{
		line-height: 40px; 
		font-size: 30px;
		font-weight: bold;
}
#popUpQuestion .guidewords{ 
		font-size: 20px;
		line-height: 25px;
		padding-left: 30px;
		font-weight: lighter;
}

#popUpQuestion .content{ 
		width: 760px;
		font-size: 18px;
		line-height: 25px;
		font-weight: bold;
		padding: 0 30px 10px 20px;
		background-color: #FAFAFA;
		margin-top: 20px;
		margin-right: 40px;
}
#popUpMusic{ 

		transform:translateX(2400px);
		width: 790px;
		padding-right: 40px;
		margin-right: -30px;
}
#popUpMusic .album{ 
		width: 300px;
		height: 520px;
		float: left;
		margin-right: 10px;
		border: 1px solid orange;
		border-radius: 2px;
}
#popUpMusic .album .albumImg{ 		
		width: 300px;
		height: 300px;
		background-size: contain;
		background-repeat: no-repeat;
}
#popUpMusic .album .albumName{ 
		width: 300px;
		line-height: 40px;
		font-weight: bold;
		padding-left: 20px;
}
#popUpMusic .album .singerImg{ 
		width: 100px;
		height: 100px;
		float: left;
		border-radius: 50px;
		margin-left: 10px;
		background-size: contain;
}
#popUpMusic .album .singerName{ 
		width: 300px;
		line-height: 40px;
		margin-left: 20px;
}
#popUpMusic .album .singerDesc{ 
		width: 300px;
		line-height: 30px;
		margin-left: 23px;
}
#popUpMusic .story{ 

}
#popUpMusic .story .title{ 
		text-align: center;
		font-size: 30px;
		line-height: 40px;
		font-weight: bold;
}
#popUpMusic .story .authorLine{ 
		text-align: center;
		height: 50px;
		vertical-align: middle;
		margin-top: 5px;
}
#popUpMusic .story .authorImg{ 
		width: 50px;
		height: 50px;
		border-radius: 25px;
		background-size: contain;
		display: inline-block;
}
#popUpMusic .story .authorName{ 
		display: inline-block;
		font-size: 20px;
		line-height: 40px;
		vertical-align: middle;
		margin-left: 10px;
}
#popUpMusic .story .musicContent{ 
		width: 760px;
		font-size: 18px;
		line-height: 25px;
		font-weight: bold;
		padding: 0 30px 10px 20px;
		background-color: #FAFAFA;
		margin-top: 20px;

}

.popUp .popUpMenu{ 
 		width: 140px;
 		height: 100%;
 		position: absolute;
 		right: 10px;
 		top: 80px;
 		background-color: #FAFAFA;

 }
.popUp .popUpMenu>ul{ 
 		list-style-type: none;
 }
.popUp .popUpMenu>ul>li{ 
 		cursor: pointer;
 		font-size: 24px;
 		font-family: arial;
 		line-height: 50px;
}
.popUp .popUpMenu>ul>li:hover{ 
 		color: blue;
}
#coverLayer{ 
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 0px;
		background-color: grey;
		z-index: 9999;
		opacity: .6;
		display: none;
}