*{ 
		margin: 0;
		padding: 0;
		border: 0;
}
body,html{ 
		background-color: #BDBDBD;
		width: 100%;
		height: 100%;
		overflow: hidden;
		
}
#header{ 
		width: 100%;
		min-width: 1080px;
		height: 50px;
		background-color: rgba(117,117,117 ,.6);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
}

	#header span{ 
		line-height: 50px;
		font-size: 26px;
		margin-left: 60px;
	}
#container{ 
		width: 80%;
		height: 100%;
		margin: 50px auto 0;
		position: relative;
		overflow: hidden;
}
#album{ 
		width: 30%;
		position: absolute;
		top: 10px;
		left: 10px;
		text-align: center;
		font-family: arial;
}
#albumImg{ 
		width: 120px;
		height: 120px;
		border-radius: 60px;
		background: url(images/HerCat/album.png) no-repeat;
		background-size: contain;
		display: inline-block;
}
#albumName{ 
		font-size: 20px;
		line-height: 30px;
}
#controlBarInner{ 
		display: inline-block;
		width: 80%;
		height: 5px;
		border-top: 10px solid #BDBDBD ;
		border-bottom: 10px solid #BDBDBD ;
		background-color: rgba(117,117,117 ,.6);
		position: relative;
		cursor: pointer;
}
#controlBarOuter{ 
		display: inline-block;
		width: 0px;
		height: 5px;
		background-color: rgba(97,97,97 ,1);
		position: absolute;
		top: 0;
		left: 0;
}
#btnPlay{ 
		font-size: 18px;
		line-height: 22px;
		text-decoration: none;
		color: black ;
		margin-top: 10px;
}
#currentTime,#totalTime{ 
		padding-left: 2px;
		padding-right: 2px;
		font-size: 15px;
		line-height: 20px;
}
#btnPlay:hover{ 
		opacity: 1;
		color: blue;
}
#albumList{ 
		list-style-type: none;
		margin-top: 10px;
}
#albumList .list{ 
		text-decoration: none;
		display: inline-block;
		line-height: 30px;
		height: 30px;
		font-size: 20px;
		padding-top: 5px;
		text-overflow: ellipsis;
		overflow: hidden;
		color: #616161;
		vertical-align: middle;
		transition: all .3s;
}
#albumList .list:hover{
		color: black;
}
#albumList li:nth-child(5) a:hover{ 
		height: 60px;
}
#albumList li:nth-child(6) a:hover{ 
		height: 60px;
}
#abstract{ 
		position: absolute;
		top: 10px;
		left: 40%;
		width: 60%;
		height: 88%;
		overflow: auto;
		margin-right: -10%;
		padding-right: 10%;
}
#abstractBox{ 
		width: 90%;
		height: 100%;
		margin-left: 10%;
		margin-top: 20px;
		perspective: 500px;
		perspective-origin: 50% 50%;
}
#abstractBox>div{ 
		width: 45%;
		height: 200px;
		float: left;
		margin: 10px;
		border-radius: 3px;
		box-shadow: 0 0 20px 16px white;
		background-color: white;
		transform-style: preserve-3d;
		transform-origin: 50% 0%;
		transition: all .5s;
}
#abstractBox>div:hover{ 

}
#abstractBox .abstractImg { 
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		
}
#abstractBox .abstractQuote{ 
		text-align: center;
		font-size: 16px;
		line-height: 20px;
		padding: 30px 10px 10px 10px;
		color: rgba(33,33,33 ,.7);
}
#abstractBox .abstractImg:nth-child(1) { 
		background-image: url(images/HerCat/1.jpg);
}
#abstractBox .abstractImg:nth-child(4) { 
		background-image: url(images/HerCat/2.jpg);
}
#abstractBox .abstractImg:nth-child(5) { 
		background-image: url(images/HerCat/3.jpg);
}
#abstractBox .abstractImg:nth-child(8) { 
		background-image: url(images/HerCat/4.jpg);
}
#abstractBox .abstractImg:nth-child(9) { 
		background-image: url(images/HerCat/5.jpg);
}
#abstractBox .abstractImg:nth-child(12) { 
		background-image: url(images/HerCat/6.jpg);
}
#abstractBox .abstractImg:nth-child(13) { 
		background-image: url(images/HerCat/7.jpg);
}
#abstractBox .abstractImg:nth-child(16) { 
		background-image: url(images/HerCat/8.jpg);
}
#abstractBox .abstractImg:nth-child(17) { 
		background-image: url(images/HerCat/9.jpg);
}